* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.tree {
  max-width: 100vw;
  max-height: 100vh;
}
#canvas {
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 100%, #010101 100%);
}
